body {
  background-image: url("./../../images/watchingFors.jpg");
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  overflow: hidden;
}

#twitch-embed {
  display: block;
  position: relative;
  left: 587px;
  top: 134px;
}

#takaisin {
  text-decoration: none;
  position: absolute;
  top: 50px;
  left: 100px;
  color: black;
  font-size: 50px;
}

/* for mobile and windowed */
@media screen and (max-width: 1600px) {
  body {
    background-size: auto;
    background-position: center center;
  }
  #twitch-embed {
    display: block;
    position: static;
    margin: 10px auto;
    text-align: center;
  }
}
