body {
  background-image: url("./../../images/background.png");
  background-position: top, bottom;
  background-repeat: repeat;
  background-color: black;
  background-size: 100%, 100%;
}

#back {
  text-decoration: none;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  position: absolute;
  top: 50px;
  left: 100px;
  color: white;
  font-size: 50px;
}

#kuva {
  display: inline-block;
  position: relative;
  max-width: 25%;
  max-height: 25%;
  height: auto;
}

.container {
  padding-top: 10%;
  display: block;
  text-align: center;
  font-size: 40px;
}

.zoom {
  transition: transform 0.2s;
  position: relative;
  z-index: 1;
}

.zoom:hover {
  transform: scale(1.4);
  z-index: 2;
}

/* for mobile and windowed */
@media screen and (max-width: 1000px) {
  body {
    background-size: auto;
    background-position: center center;
  }
  #twitch-embed {
    display: block;
    position: static;
    margin: 10px auto;
    text-align: center;
  }
}
